*{
  background-color:	#282828;
  color: white;
  font-family: Arial, Helvetica, sans-serif
}

Table{
  margin-top: 50px;
}

.grid-container {
  border: 1px solid black;
  text-align: center;
  width: 70%;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 10px;
}

.form-input{
  display: flex;
  justify-content: center;
  margin: 10px;
}

.search-bar{
  border: 1px solid white;
  text-align: center;
  border-radius: 10px;
  height: 30px;
}

.search-bar:hover{
  opacity: 0.6;
}

.search-bar:focus{
  outline: none;
}

.Card{
  display: flex;
  justify-content: center;
}

.Card_details{
  border: 1px solid white;
  width: 500px;
  text-align: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.Card_img {
  border: 1px solid white;
  width: 300px;
  height: 250px;
  text-align: center;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.image{
  border-radius: 50%;
  background-color: white;
  margin-top: 34px;
}

.test{
  margin-top: 50px;
}

.team-banner{
  border-bottom-right-radius: 10px;
}

h3{
  position: relative;
  top: 45px;
  text-align: center;
  /* border: 1px solid white; */
}

.graph{
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.menu{
  border: 1px solid white;
  display: flex;
  margin: 0 auto;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.menu:hover{
  opacity: 0.6;
  outline: none;
}